# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMakeFiles
CMakeFiles/
CPM_modules/
test/build/
cmake_install.cmake
CMakeCache.txt
cpm-package-lock.cmake
Makefile
rp
sshkey
sshkey.pub